*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1) { 

  body{
    zoom: 80%;
    overflow-x: hidden;
  }
}


body{
overflow-x: hidden;
}

/* formatings for header */

header{
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #EA906C;
  z-index: 10;
  transition: .5s all ease-in;
  margin-bottom: 20px;
  /* background-color: #02353c; */
}

.head-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.head-container > .head-sector{
  position: relative;
  left: 50px;
  display: flex;
  align-items: center;
  
}

.head-container > .head-sector > .logo > img{
  top: 5px;
  height: 70px;
  width: auto;
  margin: 0 20px;
}

section{
position: fixed;
display: flex;
justify-content: center;
left: 30px;
height: 150px;
width: 250px;

background-color: #EA906C;
z-index: 100;
transition: .5s all ease-in;
transform: translateY(-100%);
}

section.sticky{
visibility: visible;
transform: translateY(0);
}

section > .log-main{
position: relative;
top: 30px;
height: 107px;
width: 210px;
background-image: url("../images/infojobslogo.png");
background-size: cover;
} 

.head-container > .head-sector >.user{
  height: 50px;
  width: 230px;
}

.sign-btn-container{
display: flex;
width: 350px;
height: 65px;
}

.profiler{
height: 70px;
width: 70px;
background-image: url("../images/headerimg.png");
background-size: cover;
border-radius: 50%;
}

.logger{
padding: 10px 20px;
width: auto;
height: 50px;
border:  3px solid #2B2A4C;
margin-top: 8px;
margin-left: 30px;
text-transform: capitalize;
transition: .4s all ease;
}

.logger:hover{
background-color: #2B2A4C;
color: white;
font-weight: 500;
}

.nav-btns{
  
  position: center;
  right: 100px;
  height: 100%;
  font-size: 18px;
}

.nav-btns ul li{
  color: #01290a;
  list-style: none;
  float: left;
  padding: 5px 5px;
  margin: 10px;
  cursor: pointer;
  /* border-bottom: 3px solid transparent; */
  
  letter-spacing: 2px;

padding: 10px 20px;
width: auto;
height: 50px;
border:  3px solid #370f05;
margin-top: 8px;
margin-left: 30px;
text-transform: capitalize;

}


.nav-btns ul li:hover{
 
  background-color: #2B2A4C;
color: white;
font-weight: 500;
}

a:visited{
color: unset;
}
